* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --himawari: #ffcd03; /* Light yellow */
  --yamabuki: #f9b81a; /* Dark yellow */
  --ninjin: #f57840; /* Light orange */
  --niiro: #d05226; /* Dark orange */
  --karakurenai: #ca424f; /* Light red */
  --akane: #951f1f; /* Dark red */
  --nadeshiko: #e69ab6; /* Light pink */
  --akamurasaki: #d25383; /* Dark pink */
  --fuji: #a9a3cf; /* Light purple */
  --ouchi: #9183b2; /* Dark purple */
  --usuasagi: #90cfd4; /* Light blue */
  --shinbashi: #5ac3d9; /* Dark blue */
  --asagi: #438889; /* Light teal */
  --nando: #036273; /* Dark teal */
  --yanagi: #b9cb65; /* Light green */
  --matsuba: #73854a; /* Dark green */
  --gofun: #fcfbf6; /* White-gray */
  --haijiro: #ece9e0; /* Light gray */
  --nezumi: #69696c; /* Dark gray */
  --nibi: #3b393c; /* Black-gray */

  --black-beauty: #313035;
  --brown-sugar: #a07855;
  --cabernet: #5d2c35;
  --coconut-milk: #f0ede5;
  --dark: rgba(49, 48, 53, 0.9);
  --light: rgba(240, 237, 229, 0.9);

  /* Sizes */
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;

  /* Speeds */
  --fast: 50ms;
  --slow: 150ms;
}

body {
  background-color: var(--coconut-milk);
  color: var(--cabernet);
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}
